certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
decorator==4.4.2
Flask==2.2.3
fonttools==4.53.0
idna==3.7
imageai==3.0.3
imageio==2.34.2
imageio-ffmpeg==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.0
moviepy==1.0.3
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pillow==10.3.0
proglog==0.1.10
pyparsing==3.1.2
pyspark==3.3.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
tqdm==4.66.4
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.3
