<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/main.css">
    <link rel="icon" href="./static/images/web-icon.ico" type="image/x-icon">
    <title>ImageAI Flask Apps</title>
</head>

<body>
    <div class="container">
        <h1 style='text-align:center;margin-top:-10px'>Welcome to ImageAI Computer Vision Applications!</h1><br>
        <p>
            Discover the power of computer vision with ImageAI's open-source Python library. ImageAI empowers developers to
            build applications and systems with self-contained computer vision capabilities. Explore our two web applications
            below and unleash the potential of image and video recognition in your projects.
        </p>
        <div class="image-app">
            <h2>Image Prediction</h2>
            <p>
                Upload your images and leverage ImageAI's advanced image recognition models to analyze and predict the objects
                present in the images. With accurate predictions and corresponding probabilities, you can gain valuable insights
                and enhance your applications.
            </p>
            <a href="./image-prediction.html">Go to Image Recognition App</a>
        </div>
        <div class="video-app">
            <h2>Video Object Detection</h2>
            <p>
                Upload your video and utilize ImageAI's object detection models to analyze and predict the objects present in
                each frame. Uncover valuable insights and make informed decisions with accurate predictions from your videos.
                Please note that the processing time of the detection may vary depending on the size of your input video and
                the detection model you chose. Please wait patiently for the results to be generated.
            </p>
            <a href="./video-object-detection.html">Go to Video Object Detection App</a>
        </div>
        <br>
        <div class="author">
          <p style="text-align:center;font-size:20px;"><strong>Author: <a href="https://maxinexiong.github.io/" target="_blank">Maxine Xiong</a></strong></p>
        </div>
    </div>
</body>

</html>


<!-- @misc {ImageAI,
    author = "Moses",
    title  = "ImageAI, an open source python library built to empower developers to build applications and systems  with self-contained Computer Vision capabilities",
    url    = "https://github.com/OlafenwaMoses/ImageAI",
    month  = "mar",
    year   = "2018-"
} -->
